<html>
<head>
    <style>{3}</style>
</head>
<body>
    <h1>It seems this site cannot be found.</h1>
    <p>We cannot connect to the server. ({2})</p>
    <p>Error code: {1}</p>
    <h2>If you entered the correct address, you can:</h2>
    <h4>Try again later</h4>
    <h4>Check your internet connection</h4>
    <p>Check your cables, reboot routers, modems, and any other network devices.</p>
    <h4>Check your DNS settings</h4>
    <p>Contact your network administrator if you do not know what this means.</p>
    <h4>Check your Firewall and Antivirus settings</h4>
    <p>Check to ensure this program has permission to access the web. If it does, try removing it and adding it again.</p>
    <span>
        <button onclick="window.location.reload();">Reload</button>
        <button onclick="window.location.href = 'http://google.com/search?q=' + '{0}';">Search Google</button>
    </span>
    <div id="error-game"></div>
</body>
</html>
